@import url("https://fonts.googleapis.com/css2?family=Roboto&display=swap");
@import url('https://fonts.googleapis.com/css2?family=Albert+Sans&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Edu+VIC+WA+NT+Beginner&display=swap');


/* LANDING PAGE */

.landing-body{
    background-image: url('https://img.freepik.com/free-photo/frame-vegetables-herbs-light-table-cooking-background-view-from-cooking-ingredients-background-menu-table-copy-space_88526-1614.jpg?w=2000');
    height: 100vh;
    background-size: 100% 100%;
    background-repeat: no-repeat;
    background-attachment: fixed;
    position: relative;
}

.centered{
    position: absolute;
    top: 50%;
    left: 50%;
    margin-right: -50;
    transform: translate(-50%, -50%);
    text-align: center;
}

.landing-title{
    font-family: "Edu VIC WA NT Beginner", cursive;
    text-align: center;
    font-size: 60px;
}

.search-input{
    display: flex;
    padding: 12px 24px;
    background-color: transparent;
    transition: transform 250ms ease-in-out;

    font-size: 14px;
    line-height: 18px;
    color: #575756;
    width: 45vw;
    align-items: center;
    border-radius: 50px;
    border: 3px solid #575756;
    transition: all 250ms ease-in-out;
    backface-visibility: hidden;
    transform-style: preserve-3d;

    text-transform: uppercase;
    letter-spacing: 1.5px;
}

.submit-btn{
    cursor: pointer;
    background-color: transparent;
    size: 22px 22px;
    border: transparent;
}

form {
    /* This bit sets up the horizontal layout */
    display:flex;
    flex-direction:row;
    
    /* This bit draws the box around it */
    border: transparent;
  }
  
  input {
    /* Tell the input to use all the available space */
    flex-grow: 2;

    /* And hide the input's outline, so the form looks like the outline */
    border:none;
  }

input::placeholder{
    color: black;
    text-shadow: 0.5px 0.5px #8e8e8e;
    text-transform: uppercase;
    background-position: 100% center;
}

input:hover,input:focus{
    padding: 12px 0;
    outline: 0;
    border: 1px solid transparent;
    border-bottom: 1px solid #575756;
    border-radius: 0;
    background-position: 100% center;
    color: black;
}


/* SEARCHED PAGE */

.hidden{
    display: none;
}

.search-header{
    display: flex;
    justify-content: center;
    height: 90px;
    align-items: center;
    font-family: "Edu VIC WA NT Beginner", cursive;
    font-size: 50px;
    text-transform: capitalize;
}

.return-button{
    background-color: red;
    border: 0.3px solid;
    color: black;
    padding: 5px 20px;
    height: 50px;
    text-align: center;
    font-size: 30px;
    font-family: "Edu VIC WA NT Beginner", cursive;
    justify-content: center;
    text-decoration: none;
    display: inline-block;
    box-shadow:0 1px 2px #5e5d5b;
    line-height: -50px;
    margin: 4px 5px;
    cursor: pointer;
    border-radius: 22px;
    position: absolute;
    top: 1;
    left: 0;
}

.return-button:hover{
    border: 2px solid black;
}

.searched-body{
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #f7f8fc;
    font-family: 'Albert Sans', sans-serif;
    color: #10182f;
    box-sizing: border-box;
}

.searched-container{
    display: flex;
    width: 95vw;
    justify-content: space-evenly;
    flex-wrap: wrap;
}

.card{
    margin: 10px;
    background-color: white;
    border-radius: 10px;
    box-shadow: 0 2px 20px rgba(0, 0, 0, 0.2);
    overflow: hidden;
    width: 350px;
}

.card-header img{
    width: 100%;
    height: 225px;
    object-fit: cover;
}

.card-body{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    padding: 10px;
}

.card-body p{
    font-size: 20px;
    margin: 0 0 20px;
}

.card-body h1{
    font-size: 35px;
    margin-top: 2px;
}

.card-body a{
    padding-top: 10px;
    margin-right: 10px;
    font-size: 15px;
}

.tag{
    background-color: #a92499;
    border-radius: 50px;
    font-size: 14px;
    color: #ffffff;
    padding: 9px 20px;
    cursor: pointer;
    text-decoration: none;
}

.simple-p1{
    font-family: 'Edu VIC WA NT Beginner', cursive;
    text-align: center;
    font-size: 26px;
}

.simple-p2{
    font-family: 'Edu VIC WA NT Beginner', cursive;
    text-align: center;
    justify-content: center;
    font-size: 22px;
}


/* clears the ‘X’ from Chrome */
input[type="search"]::-webkit-search-decoration,
input[type="search"]::-webkit-search-cancel-button,
input[type="search"]::-webkit-search-results-button,
input[type="search"]::-webkit-search-results-decoration { display: none; }

/* clears the ‘X’ from Internet Explorer */
input[type=search]::-ms-clear { display: none; width : 0; height: 0; }
input[type=search]::-ms-reveal { display: none; width : 0; height: 0; }